<div class="io-container">
  <strong class="title-bar">IO - 0xFFF0</strong>
  <div class="hex-bin">
    <p class="monospace">{{buttonIo}}</p>
    <p class="monospace">{{BaseConverter.signedHexToDec(buttonIo || "0")}}</p>
  </div>
  <div class="io-buttons">
    <div class="button-num-container" *ngFor="let btn of buttonArr; let i = index">
      <button (click)="onButtonClick(i)" [class.button-active]="btn"></button>
      <div class="monospace">{{Math.abs(15 - i)}}</div>
    </div>
  </div>
</div>

<div class="io-container">
  <strong class="title-bar">IO - 0xFFF1</strong>
  <div class="hex-bin">
    <p class="monospace">{{ledIo}}</p>
    <p class="monospace">{{BaseConverter.signedHexToDec(ledIo || "0")}}</p>
  </div>
  <div class="led-buttons">
    <div class="button-num-container" *ngFor="let led of ledArr; let l = index">
      <button disabled [class.led-active]="led" [class.led-inactive]="!led"></button>
      <div class="monospace">{{Math.abs(15 - l)}}</div>
    </div>
  </div>
</div>

<div class="io-container">
  <strong class="title-bar">IO - 0xFFF2</strong>
  <div class="hex-bin">
    <p class="monospace">{{eightSegmentIo}}</p>
    <p class="monospace">{{BaseConverter.signedHexToDec(eightSegmentIo || "0")}}</p>
  </div>
  <div class="eight-segment-container">
    <div class="eight-segment">
      <div data-tooltip="Segment 0" class="segment-top segment hover-element"
           [class.segment-active]="eightSegmentArr[0]"></div>
      <div data-tooltip="Segment 1" class="segment-top-right segment" [class.segment-active]="eightSegmentArr[1]"></div>
      <div data-tooltip="Segment 2" class="segment-bottom-right segment"
           [class.segment-active]="eightSegmentArr[2]"></div>
      <div data-tooltip="Segment 3" class="segment-bottom segment" [class.segment-active]="eightSegmentArr[3]"></div>
      <div data-tooltip="Segment 4" class="segment-bottom-left segment"
           [class.segment-active]="eightSegmentArr[4]"></div>
      <div data-tooltip="Segment 5" class="segment-top-left segment" [class.segment-active]="eightSegmentArr[5]"></div>
      <div data-tooltip="Segment 6" class="segment-middle segment" [class.segment-active]="eightSegmentArr[6]"></div>
      <div data-tooltip="Segment 7" class="segment-dot segment" [class.segment-active]="eightSegmentArr[7]"></div>
    </div>

    <div class="eight-segment">
      <div data-tooltip="Segment 8" class="segment-top segment" [class.segment-active]="eightSegmentArr[8]"></div>
      <div data-tooltip="Segment 9" class="segment-top-right segment" [class.segment-active]="eightSegmentArr[9]"></div>
      <div data-tooltip="Segment 10" class="segment-bottom-right segment"
           [class.segment-active]="eightSegmentArr[10]"></div>
      <div data-tooltip="Segment 11" class="segment-bottom segment" [class.segment-active]="eightSegmentArr[11]"></div>
      <div data-tooltip="Segment 12" class="segment-bottom-left segment"
           [class.segment-active]="eightSegmentArr[12]"></div>
      <div data-tooltip="Segment 13" class="segment-top-left segment"
           [class.segment-active]="eightSegmentArr[13]"></div>
      <div data-tooltip="Segment 14" class="segment-middle segment" [class.segment-active]="eightSegmentArr[14]"></div>
      <div data-tooltip="Segment 15" class="segment-dot segment" [class.segment-active]="eightSegmentArr[15]"></div>
    </div>
  </div>
</div>
