<div>
  <table>
    <thead>
    <tr>
      <td>
        <input class="margin-0" type="text" [(ngModel)]="count"/>
        <button class="margin-0" (click)="resetRam()">Reset</button>
      </td>
    </tr>
    <tr>
      <td>
        <strong>RAM</strong>
        <select [(ngModel)]="selectedViewOption">
          <option *ngFor="let _viewOption of viewOptions">
            {{ _viewOption }}
          </option>
        </select>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let _ram of ram | keyvalue; trackBy: trackByFn">
      <td [class.selected-address]="PC === _ram.key">
      <span>
        {{ _ram.key }}
      </span>
        <input
          *ngIf="selectedViewOption === 'hex'"
          type="text"
          [(ngModel)]="_ram.value"
          (ngModelChange)="updateRamValueHex(_ram.key, $event)"
        />
        <span class="monospace" *ngIf="selectedViewOption === 'dec'">{{BaseConverter.signedHexToDec(_ram.value)}}</span>
        <span class="monospace" *ngIf="selectedViewOption === 'bin'">{{BaseConverter.anyToBin(_ram.value)}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
