.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 8rem);
}

.instructions-ram {
  display: flex;
  justify-content: space-between;
}

.ram-component {
  margin-left: 50px;
}

h1 {
  max-width: max-content;
}

.title-guide {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
