.instructions-ram {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  width: min(100%, 600px);
  right: 2%;
  top: 10%;
}

.ram-component {
  margin-left: 50px;
}
