<div>
  <table>
    <thead>
    <tr>
      <td class="baseline-text">
        <strong>Instructions</strong>
        <button (click)="isDownloadInputShown = !isDownloadInputShown">Download</button>
        <button (click)="handleClickUpload($event)">Upload</button>
      </td>
    </tr>
    <tr *ngIf="isDownloadInputShown">
      <td class="baseline-text">
        <input type="text" [(ngModel)]="filename" placeholder="File name"/>
        <button (click)="handleClickDownload($event)">✓</button>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let instruction of instructions | keyvalue; trackBy: trackByFn">
      <td [class.selected-address]="pc === BaseConverter.anyToHex(indices.get(instruction.key)?.toString() || '0')">
        <span>
<!--        {{ BaseConverter.anyToHex(instruction.key.toString()) }}-->
          {{BaseConverter.anyToHex(indices.get(instruction.key)?.toString() || "0")}}
        </span>
        <input
          type="text"
          [(ngModel)]="instruction.value"
          (ngModelChange)="updateInstructionValue(instruction.key, $event)"
        />
      </td>
    </tr>
    </tbody>
  </table>
  <div class="add-remove-instructions">
    <button class="button-add" (click)="handleClickAddInstruction($event)">+</button>
    <button class="button-remove" (click)="handleClickRemoveLastInstruction($event)">-</button>
  </div>
  <button (click)="handleClickCompile($event)">Compile</button>
</div>
