body {
  background-color: #1E1F22;
  color: #D9D9D9;
  font-family: Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
  position: relative;
}

input[type="text"] {
  border: none;
  background: #26282E;
  color: inherit;
  font-size: inherit;

  &:focus {
    outline: 1px solid #37342D;
  }

  width: 200px;
  padding: 1px 5px;
  margin-left: 10px;
}

td {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
