body {
  background-color: #1E1F22;
  color: #D9D9D9;
  font-family: Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
  position: relative;
}

input[type="text"] {
  border: none;
  background: #43454A;
  color: inherit;
  font-size: inherit;

  &:focus {
    outline: 1px solid #37342D;
  }

  width: 200px;
  padding: 1px 5px;
  margin-left: 10px;
}

td {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100%;
  background-color: #bbbbff;
  border-color: #bbbbff;
  padding: 0.375rem 0.75rem;
  margin-top: 10px;
  font-size: 1rem;
  border-radius: 0.25rem;
  outline: none;
}
